.InputB {
	&__label {
		margin-bottom: 10px;
	}

	&__el {
		border-radius: 25px !important;
		padding: 10px !important;

		.ant-input-prefix {
			margin-right: 10px !important;
		}
	}

	&__error {
		color: red;
		font-size: 12px;
		line-height: 15px;
	}
}