@import '../../styles/global/variables.scss';

.Counter {
    background-color: $light_back;
    height: 35px;
    width: 102px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    line-height: 14px;
    // position: absolute;

    &__btn {
        padding: 0 15px;

        &:first-child {
            padding-right: 5px;
        }

        &:last-child {
            padding-left: 5px;
        }
    }

    &__value {
        display: block;
        width: 100%;
        background-color: unset;
        outline: none;
        border: none;
        text-align: center;
    }
}


@media (max-width: 470px) {
    .Counter {
        // position: absolute;
        margin-top: 140px;
        margin-left: -187px;
    }
}

@media (min-width: 425px) and (max-width: 1024px) {
    .Counter {
        // position: absolute;
        margin-left: 100px;
    }
}