@import '../../../../../../styles/global/variables.scss';

.LkAdr {

	&__add {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: 25px;

		button {
			font-size: 14px;
			line-height: 17px;
			transition: all .3s ease;
			color: $btn;

			&:hover {
				color: $orange;
			}
		}
	}

	&__ex {
		color: rgba(36, 36, 36, 0.5);
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		margin-bottom: 25px;
	}

	&__body {

		&_item {
			margin-bottom: 15px;
			max-width: 400px;
			width: 100%;

			&:last-child {
				margin-bottom: 0;
			}


			&_value {
				display: flex;
				align-items: center;

				&_icon {
					line-height: 100%;
					margin-right: 15px;
					font-weight: 500;

				}
			}

			&_edit {
				display: flex;
				align-items: center;
				justify-content: flex-start;

				button {
					font-size: 14px;
					line-height: 17px;
					transition: all .3s ease;
					color: red;

					&:hover {
						color: $orange;
					}
				}

			}
		}
	}
}