.FilterList {

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;


    &__item {
        margin: 0 15px;
        margin-bottom: 30px;
        width: calc((100% / 4) - 30px);
    }
}
