@import '../../styles/global/variables.scss';

.Auth {
	.ant-modal-content {
		background-color: transparent;

		.ant-modal-close {
			display: none;
		}

		.ant-modal-footer {
			display: none;
		}

		.ant-modal-body {
			padding: 50px 40px;
			background: #FFFFFF;
			border: 2px solid #ECECEC;
			border-radius: 16px;
		}
	}

	&__body {
		&_head {
			margin-bottom: 40px;

			&_title {
				font-weight: 700;
				font-size: 24px;
				line-height: 32px;
			}

			&_subtitle {
				margin-bottom: 5px;
				color: #98989E;
			}
		}

		&_content {
			&_item {
				margin-bottom: 25px;
			}
		}

		&_ex {
			&_qs {
				color: #98989E;
				font-size: 14px;

				span {
					color: $text;
					transition: all .3s ease;
					cursor: pointer;

					&:hover {
						color: $btn
					}
				}
			}
		}
	}
}